@font-face {
    font-family:iransans-bold;
    font-style: normal;
    font-weight: bold;
    src: url('eot/IRANSansWeb_Bold.eot');
    src: url('eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family:iransans-medium;
    font-style: normal;
    font-weight: 500;
    src: url('eot/IRANSansWeb_Medium.eot');
    src: url('eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family:iransans-light;
    font-style: normal;
    font-weight: 300;
    src: url('eot/IRANSansWeb_Light.eot');
    src: url('eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family:iransans-ultraLight;
    font-style: normal;
    font-weight: 200;
    src: url('eot/IRANSansWeb_UltraLight.eot');
    src: url('eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family:iransans;
    font-style: normal;
    font-weight: normal;
    src: url('eot/IRANSansWeb.eot');
    src: url('eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
    font-family:font;
    font-style: normal;
    font-weight: normal;
    src: url('eot/IRANSansWeb.eot');
    src: url('eot/phallsKhodkar.otf?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('ttf/phallsKhodkar.ttf') format('truetype');
}
@font-face {
    font-family:SYekan;
    font-style: normal;
    font-weight: normal;
    src:  url('ttf/phallsKhodkar.ttf');
    src: url('ttf/phallsKhodkar.ttf') format('truetype');
}
@font-face {
    font-family:BYekan;
    font-style: normal;
    font-weight: normal;
    src: url('eot/BYekan.eot');
    src: url('eot/BYekan.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/BYekan.ttf') format('truetype');
}