$primaryBlue:#5f7ce2;
$hoverBlue:#7c95e9;
$inputBackground: #f2f2f2;
$greenButton:#70cf97;
$blackFontColor:#11100e;
$grayFontColor:#727273;
$borderColor:#d2c1b5;
$bulletColor: #70cf97;
$grayBorder:#c8c7cc;
$grayInputBackground: #f2f2f2;
$dangerBorder: #f3c7c9;
$dangerBackground : #f1dcdb;

body{
  background: url("../img/sayagata-400px.png") repeat;
  font-family: FontAwesome,iransans;
}

input,select,button{
  outline: none;
}
.clear{
  clear: both;
}
#header{
  background-color: $primaryBlue;
  .header{
    .logo{
      padding: 3% 0;
      img{
        height: 120px;
        width: 80px;
      }
    }
    .title{
      display: flex;
      flex-direction: column;
      text-align: center;
      color: white;
      h3{
        font-weight: bold;
      }
      div{
        padding-top: 2%;
      }
      h4{
        font-weight: bold;
        margin-top: 15px;
      }
    }
    .left{
      text-align: center;
      padding: 1% 0;
      img{
        height: 110px;
      }
      p{
        text-align: left;
        color: white;
        font-size: 11px;
        margin-bottom: 5px;
      }
    }
  }
  .flag{
    margin-top: -1%;
    height: 12px;
    background: url("../img/flag.png") repeat-x;
  }
}
#middle_part{
  margin-top: 3%;
  margin-bottom: 3%;
  .menu{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    .arrow_box.active {
      text-align: center;
      padding: 1%;
      width: 170px;
      height: 50px;
      position: relative;
      background: $primaryBlue;
      border: 2px solid $hoverBlue;
      font-weight: bold;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .arrow_box{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-align: center;
      padding: 1%;
      width: 170px;
      height: 50px;
      position: relative;
      background: white;
      border: 2px solid $hoverBlue;
      font-weight: bold;
      color: gray;
    }
    .arrow_box:after, .arrow_box:before {
      z-index: 1;
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    .arrow_box:after {
      border-right-color: white;
      border-width: 21px;
      margin-top: -21px;
    }
    .arrow_box:before {
      border-right-color: $hoverBlue;
      border-width: 25px;
      margin-top: -25px;
    }
    .arrow_box.active:after {
      border-right-color: $primaryBlue;
      border-width: 21px;
      margin-top: -21px;
    }
    .arrow_box.active:before {
      border-right-color: $hoverBlue;
      border-width: 25px;
      margin-top: -25px;
    }
    div:last-child:after , div:last-child:before{
      content: none;
    }
  }
  .log-out{
    text-align: center;
    margin-bottom: 2%;
    button{
      width: 20%;
      font-size: 17px;
      font-weight: bold;
      padding: 0.5%;
      background: #ec5656;
      border-style: none;
      color: white;
      border-radius: 5px;
    }
  }
  .guide{
    float : right;
    margin-right : 2%;
    line-height: 2em;
    width : 38%;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 15px;
    -webkit-box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    h4{
      text-align: center;
      padding-top: 5px;
    }
    li{
      margin-top: 8px;

    }

  }
  div.form1{
    float : none !important;
    margin: 0 auto !important;
  }
  div.form{
    float : right;
    -webkit-box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    width: 60%;
    //margin: 0 auto;
    padding: 2% 3%;
    background-color: white;
    border-radius: 5px;
    min-height: 300px;
    .nav-tabs > li {
      text-align: center;
      width: 15%;
      float: right;
    }
    .nav-tabs > li>a{
      font-weight: bold;
      align-items: center;
      display: flex;
      position: relative;
      padding: 10px 0px;
      justify-content: space-around;
    }
    .nav-tabs .fa-plus-circle{
      padding: 1%;
      color: $primaryBlue;
      cursor: pointer;
    }
    .nav-tabs .fa-times-circle{
      font-size: 18px;
      color: red;
      cursor: pointer;
    }
    #myTabContent{
      .head{
        div:first-child{
          color:$blackFontColor;
          h3{
            font-weight: bold;
            font-size: 21px;
          }
        }
        div:last-child{
          text-align: left;
          h3{
            font-size: 18px;
            i{
              padding-right:3% ;
              color: $bulletColor;
            }
            span{
              color:$blackFontColor;
            }
          }
        }
      }
      .line{
        position: relative;
        top: 60px;
        flex: 1;
        border-bottom: 2px solid $grayBorder;
      }
      .body{
        margin-top:10%;
        form{

          .field-wrapper{
            display: flex ;
            justify-content: space-between;
            div{
              width: 49%;
              label{
                color: $grayFontColor;
                margin-top: 4%;
                font-size: 12px;
              }
              input,select{
                margin-top: 2%;
                width: 100%;
                border-radius: 5px;
                border: 1px solid $grayBorder;
                background-color: $grayInputBackground;
                font-size: 15px;
                padding: 2%;
                min-height: 45px;
              }
            }
          }
        }
        .danger{
          display: flex;
          min-width: 200px;
          margin-top: 7%;
          border: 2px solid $dangerBorder;
          background-color: $dangerBackground;
          padding: 1%;
          border-radius: 5px;
          justify-content: flex-start;
          flex-wrap: wrap;
          div.flex{
            margin-top: 4px;
            min-width: 50%;
            display: flex;
            img{
              margin-left: 15px;
            }
            p{
              align-self: center;
              margin-bottom: 0;
            }
          }
        }
      }
      .add{
        width: 100%;
        font-size: 18px;
        border-style: none;
        background-color: #70cf97;
        color: white;
        border-radius: 27px;
        padding: 2%;
        font-weight: bold;
        margin-top: 5%;
      }
    }
    .head{
      div:first-child{
        color:$blackFontColor;
        h3{
          font-weight: bold;
          font-size: 21px;
        }
      }
      div:last-child{
        text-align: left;
        h3{
          font-size: 18px;
          i{
            padding-right:3% ;
            color: $bulletColor;
          }
          span{
            color:$blackFontColor;
          }
        }
      }
    }
    .line{
      position: relative;
      top: 60px;
      flex: 1;
      border-bottom: 2px solid $grayBorder;
    }
    .body{
      margin-top:10%;
      form{
        select{
          margin-top: 2%;
          width: 50%;
          border-radius: 5px;
          border: 1px solid $grayBorder;
          background-color: $grayInputBackground;
          font-size: 15px;
          min-height: 43px;
        }
        .field-wrapper-3{
          display: flex ;
          justify-content: space-between;
          div{
            width: 32%;
            label{
              color: $grayFontColor;
              margin-top: 4%;
              font-size: 12px;
            }
            input,select{
              margin-top: 2%;
              width: 100%;
              border-radius: 5px;
              border: 1px solid $grayBorder;
              background-color: $grayInputBackground;
              font-size: 15px;
              padding: 2%;
              min-height: 45px;
            }
          }
        }
        .field-wrapper{
          display: flex ;
          justify-content: space-between;
          div{
            width: 49%;
            label{
              color: $grayFontColor;
              margin-top: 4%;
              font-size: 12px;
            }
            input,select{
              margin-top: 2%;
              width: 100%;
              border-radius: 5px;
              border: 1px solid $grayBorder;
              background-color: $grayInputBackground;
              font-size: 15px;
              padding: 2%;
              min-height: 45px;
            }
          }
        }
        .field-wrapper:last-child{
          margin-top: 6px;
        }
      }
      .danger{
        display: flex;
        min-width: 200px;
        margin-top: 9%;
        border: 2px solid $dangerBorder;
        background-color: $dangerBackground;
        padding: 1%;
        border-radius: 5px;
        justify-content: flex-start;
        flex-wrap: wrap;
        div.flex{
          margin-top: 4px;
          min-width: 50%;
          display: flex;
          img{
            margin-left: 15px;
          }
          p{
            align-self: center;
            margin-bottom: 0;
          }
        }
      }
    }
    .add{
      width: 100%;
      font-size: 18px;
      border-style: none;
      background-color: #70cf97;
      color: white;
      border-radius: 27px;
      padding: 2%;
      font-weight: bold;
      margin-top: 5%;
    }
  }
  div.right{
    -webkit-box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    box-shadow: 3px 3px 16px -5px rgba(0, 0, 0, 0.52);
    min-height: 300px;
    background-color: white;
    margin-bottom: 5%;
    border-radius: 5px;
    .nav-tabs{
      li{
        width: 33.33%;
        text-align: center;
        border-radius: 10px;
        a{
          font-size: 16px;
          background-color: $hoverBlue;
          color: white;
          text-decoration: none;
          margin-left: 0;
          margin-right: 0;
          padding: 16px 10px;
        }
      }
      li.active{
        a{
          background-color: $primaryBlue;
        }
      }
    }
    #myTabContent{
      #tab1{
        padding: 7%;
        .fieldwrapper{
          display: flex;
          label{
            margin-top: 16px;
          }
          justify-content: space-between;
          div:last-child{
            margin-right: 8px;
          }
        }
        label{
          color: $grayFontColor;
          margin-top: 4%;
          font-size: 12px;
        }
        input{
          margin-top: 2%;
          width: 100%;
          border-radius: 5px;
          border: 1px solid $borderColor;
          background-color: $inputBackground;
          font-size: 15px;
          padding: 2%;
          min-height: 45px;
        }
        button{
          width: 100%;
          font-size: 18px;
          border-style: none;
          background-color: #70cf97;
          color: white;
          border-radius: 20px;
          padding: 3%;
          font-weight: bold;
          margin-top: 5%;
        }
      }
      #tab2{
        padding: 7%;
        .fieldwrapper{
          display: flex;
          label{
            margin-top: 16px;
          }
          justify-content: space-between;
          div:last-child{
            margin-right: 8px;
          }
        }
        label{
          color: $grayFontColor;
          margin-top: 4%;
          font-size: 12px;
        }
        input{
          margin-top: 2%;
          width: 100%;
          border-radius: 5px;
          border: 1px solid $borderColor;
          background-color: $inputBackground;
          font-size: 15px;
          padding: 2%;
          min-height: 45px;
        }
        button{
          width: 100%;
          font-size: 18px;
          border-style: none;
          background-color: #70cf97;
          color: white;
          border-radius: 20px;
          padding: 3%;
          font-weight: bold;
          margin-top: 5%;
        }
      }
      #tab3{
        padding: 7%;
        .fieldwrapper{
          display: flex;
          label{
            margin-top: 16px;
          }
          justify-content: space-between;
          div:last-child{
            margin-right: 8px;
          }
        }
        label{
          color: $grayFontColor;
          margin-top: 4%;
          font-size: 12px;
        }
        input{
          margin-top: 2%;
          width: 100%;
          border-radius: 5px;
          border: 1px solid $borderColor;
          background-color: $inputBackground;
          font-size: 15px;
          padding: 2%;
          min-height: 45px;
        }
        button{
          width: 100%;
          font-size: 18px;
          border-style: none;
          background-color: #70cf97;
          color: white;
          border-radius: 20px;
          padding: 3%;
          font-weight: bold;
          margin-top: 5%;
        }
      }

    }
  }
  div.left{
    padding-top: 8%;
    h3{
      color: $blackFontColor;
      font-weight: bold;
      font-size: 26px;
    }
    p{
      color: $blackFontColor;
      margin-top: 10%;
      font-size: 15px;
      font-weight: bold;
      line-height: 33px;
    }
    .link{
      margin-top: 5%;
      font-size: 16px;
    }

  }
}
#message{
  margin-top: 6.5%;
  margin-bottom: 6.5%;
  text-align: center;
  h2{
    font-weight: bold;
    color: $greenButton;
    margin-bottom: 35px;
  }
  h4{
    margin-bottom: 25px;
    span{
      font-weight: bold;
    }
  }
  button{
    border-radius: 3px;
    width: 15%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-style: none;
    padding: 8px;
    background-color: $hoverBlue;
  }
  textarea{
    outline: none;
    resize: none;
    width: 30%;
    height: 86px;
    margin-bottom: 2%;
    padding: 1%;
  }
}
#footer{
  background-color: $hoverBlue;
  .footer{
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    .copyright{
      color: white;
    }
    .taban{
      text-align: left;
      span:first-child{
        color: #9caeee;
      }
      span:last-child{
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
#user_password{
  display: none;
  z-index: 1000;
  position: fixed;
  top: 23%;
  right: 25%;
  background-color: #1dc5a3;
  text-align: center;
  width: 50%;
  padding: 2%;
  border-radius: 5px;
  p{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .button{
    display: flex;
    justify-content: center;
    div{
      width: 20%;
      padding-left: 2%;
      button{
        padding: 8%;
        border-style: none;
        width: 100%;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;
        color: white;
      }
      button.ok{
        background-color: $greenButton;
      }
    }
  }
}
#model{
  display: none;
  z-index: 100;
  -webkit-box-shadow: 2px 3px 5px -1px rgba(255,255,255,1);
  -moz-box-shadow: 2px 3px 5px -1px rgba(255,255,255,1);
  box-shadow: 2px 3px 5px -1px rgba(255,255,255,1);
  position: absolute;
  top: 23%;
  right: 25%;
  background: white;
  text-align: center;
  width: 50%;
  padding: 2%;
  border-radius: 5px;
  p{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .button{
    display: flex;
    justify-content: center;
    div{
      width: 20%;
      padding-left: 2%;
      button{
        padding: 8%;
        border-style: none;
        width: 100%;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;
        color: white;
      }
      button.yes{
        background-color: $greenButton;
      }
      button.no{
        background-color: #ec5656;
      }
    }
  }
}
.modal-body {
  padding: 4px 40px 25px;
  form{
    input{
      width: 100%;
      border-radius: 5px;
      border: 1px solid $borderColor;
      background-color: $inputBackground;
      font-size: 15px;
      padding: 2%;
      min-height: 45px;
    }
    label{
      color: $grayFontColor;
      margin-top: 4%;
      font-size: 12px;
    }
    .submit{
      border-style: none;
      border-radius: 5px;
      padding: 2%;
      width: 50%;
      margin-top: 5%;
      color: white;
      font-weight: bold;
      font-size: 14px;
      background-color: $greenButton;
    }

  }
}
.modal-header{
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  h4{
    font-weight: bold;
  }
  span{
    font-size: 30px;
  }
}
.modal-dialog {
  width: 480px;
}
.content{
  display: none;
}
.content.active {
  display: inherit;
}
@media (min-width: 320px) and (max-width: 480px) {
  #model{
    right: 0;
    width: inherit;
    margin-left: 2%;
    margin-right: 2%;
  }
  #model p{
    font-size: 16px;
  }
  #myTabContent,#myTabContent1,#myTabContent2{
    margin-top: -55px;
  }
  #middle_part div.form #myTabContent .line,#middle_part div.form #myTabContent1 .line,#middle_part div.form #myTabContent2 .line{
    top:50px;
  }
  #middle_part div.form .line{
    top:0;
  }
  #middle_part div.form .body{
    margin-top: 4%;
  }
  #middle_part div.form #myTabContent .body,#middle_part div.form #myTabContent1 .body,#middle_part div.form #myTabContent2 .body{
    margin-top: 20%;
  }
  .modal-dialog {
    width: inherit;
  }
  body{
    overflow-x: hidden;
  }
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 8px;
    padding-left: 8px;
  }

  #header .header .logo{
    text-align: center;
  }
  #header .header .title h3{
    font-size: 13px;
  }
  #header .header .title{
    margin-bottom: 5%;
  }
  #header .header .left p {
    text-align: center;
    padding-top: 11%;
  }
  #middle_part .menu{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #middle_part .menu .arrow_box.active ,#middle_part .menu .arrow_box{
    font-size: 10px;
    width: 127px;
  }
  #middle_part div.form #myTabContent .body{
    margin-top: 25%;
  }
  #middle_part div.form .nav-tabs > li{
    width: 25%;
  }
  #middle_part div.form .nav-tabs .fa-plus-circle{
    padding: 4% 2%;
    font-size: 1.5em;
  }
  #middle_part .log-out button{
    padding-bottom: 3%;
    padding-top: 1%;
    width: 65%;
  }
  #middle_part div.right .nav-tabs li a{
    font-size: 12px;
  }
  #middle_part div.right #myTabContent #tab1 label,#middle_part div.right #myTabContent #tab2 label,#middle_part div.right #myTabContent #tab3 label{
    font-size: 10px;
  }
  #middle_part div.right #myTabContent #tab1 input,#middle_part div.right #myTabContent #tab2 input,#middle_part div.right #myTabContent #tab3 input{
    font-size: 12px;
    min-height: 38px;
  }
  #middle_part div.left h3{
    font-size: 19px;
  }
  #middle_part div.left p {
    font-size: 12px;
    line-height: 29px;
  }
  #middle_part div.form{
    width: 100%;
  }
  #middle_part div.form .head div:first-child h3{
    font-size: 16px;
  }
  #middle_part div.form .head div:last-child h3{
    font-size: 14px;
  }
  #middle_part div.form .line{
    margin-top: 20%;
  }
  #middle_part div.form .body form button{
    margin-bottom: 2%;
  }
  #message{
    margin-bottom: 5%;
    h2{
      font-size: 17px;
    }
  }
  #footer .footer{
    padding: 3%;
    text-align: center;
    display: inherit;
  }
  #footer .footer .copyright,#footer .footer .taban{
    text-align: center;
    margin-bottom: 12px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #middle_part div.form #myTabContent .body{
    margin-top: 60px;
  }
  #middle_part div.left h3{
    font-size: 15px;
  }
  #middle_part div.left p {
    margin-top: 7%;
    font-size: 12px;
    line-height: 27px;
  }
  #middle_part div.form{
    width: 75%;
  }
  #middle_part div.form .head div:last-child h3{
    font-size: 16px;
  }
  #middle_part div.form .head div:first-child h3{
    font-size: 18px;
  }
  #footer .footer .taban{
    padding-top: 6px;
  }
}
@media only screen and  (min-width: 768px) and (max-width: 1024px) {
  #middle_part div.form #myTabContent .body{
    margin-top: 14%;
  }
  #middle_part div.left p{
    margin-top: 8%;
  }
  #middle_part div.left h3{
    font-size: 23px;
  }
  #middle_part div.form #myTabContent .body,#middle_part div.form #myTabContent1 .body,#middle_part div.form #myTabContent2 .body,#middle_part div.form .body{
    margin-top: 15%;
  }
}