body {
    background: url("../img/sayagata-400px.png") repeat;
    font-family: iransans; }

input, select {
    outline: none; }

.clear {
    clear: both; }

#header {
    background-color: #5f7ce2; }
#header .header .logo {
    padding: 3% 0; }
#header .header .logo img {
    height: 80px;
    width: 150px;
    background-color: #727273; }
#header .header .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white; }
#header .header .title h3 {
    font-weight: bold; }
#header .header .title div {
    padding-top: 2%; }
#header .header .left {
    text-align: center;
    padding: 1% 0; }
#header .header .left img {
    height: 110px; }
#header .header .left p {
    text-align: left;
    color: white;
    font-size: 11px;
    margin-bottom: 5px; }
#header .flag {
    margin-top: -1%;
    height: 18px;
    background: url("../img/flag.png") repeat-x; }

#print .number{
    font-family: BYekan;
}
#print .header{
    display: flex;
    justify-content: space-between;
}
#print .header .code{
    font-size: 12pt;
    font-weight: normal;
}
#print .header h3{

}
#print .information{
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 2%;
    border: 1px double;
    background-color: white;
}
#print .information h3{
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: bold;
}
#print .information .info{
    display: flex;
    justify-content: flex-start ;
    flex-wrap: wrap;
}
#print .information .info div{
    border: 1px dotted black ;
    margin-right: 1%;
    padding: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    min-width: 20%;
}
#print .information .info div span:nth-child(even){
    padding-left: 4%;
}
#print .information .info div span:nth-child(odd){
    font-weight: bold;
}
#print .information .info .phone span:nth-child(even),#print .information .info .phone span:nth-child(odd){
    padding-left: 1%;
    padding-right: 1%;
    font-weight: 100;
}
#print .information .info .phone span:first-child{
    font-weight: bold;
}
#print .information .second-line{
    padding-right: 2%;
}
#print .information .second-line h4{
    font-weight: bold;
    font-size: 18px;
}
#print .information .print{
    display: flex;
    justify-content: space-between;
}
#print .information .print label{
    width: 60%;
    margin-top: 20px;
}
#print .information .print label input{
    width: 50%;
    height: 40px;
    outline: none;
}
#print .information .print label span{
    padding-right: 1%;
}
#print .information .print button{
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-style: none;
    outline: none;
    background-color: #70cf97;
    margin-top: 15px;
    height: 45px;
}


#footer {
    background-color: #7c95e9; }
#footer .footer {
    padding: 1% 5%;
    display: flex;
    justify-content: space-between; }
#footer .footer .copyright {
    color: white; }
#footer .footer .taban {
    text-align: left; }
#footer .footer .taban span:first-child {
    color: #9caeee; }
#footer .footer .taban span:last-child a {
    color: white;
    text-decoration: none; }


@media (min-width: 320px) and (max-width: 640px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #header .header .logo {
        text-align: center;
    }

    #header .header .title h3 {
        font-size: 13px;
    }

    #header .header .title {
        margin-bottom: 5%;
    }

    #header .header .left p {
        text-align: center;
        padding-top: 11%;
    }

    #print .header {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }
    #print .header h3 {
        font-size: 13pt;
    }
    #print .information .print{
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }
    #print .information .print label{
        width: 100%;
    }
    #print .information .print button{
        width: 90%;
    }
    #footer .footer {
        padding: 3%;
        text-align: center;
        display: inherit;
    }

    #footer .footer .copyright, #footer .footer .taban {
        text-align: center;
        margin-bottom: 12px;
    }
}
@media (min-width: 361px) and (max-width: 768px) {

    #print .header {
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }
    #footer .footer .taban {
        padding-top: 6px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

